PORT=5000
MONGODB_URI=mongodb://appDatabase:030512PASI@ac-audmgln-shard-00-00.540lufo.mongodb.net:27017,ac-audmgln-shard-00-01.540lufo.mongodb.net:27017,ac-audmgln-shard-00-02.540lufo.mongodb.net:27017/parkinplus?ssl=true&replicaSet=atlas-6d64lq-shard-0&authSource=admin&appName=Cluster0
